body{
    background-color:#FFFFFF;
    font-family: "Inconsolata", monospace;
    margin: 0 auto;
    text-align: center;


}
header{
    color: white;
    background-color: #592588;
   font-size: 100px;
   
}
main{
    text-align: justify;
}
a{
    text-decoration: none;
    color: #F1F1F7;
}
button{
  border: none;
 
  background-color: #592588;
  border-radius: 8px;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: block;
  margin: 0 auto;
  font-size: 16px;
  cursor: pointer;
  margin-top: 50px;
  margin-bottom: 50px;
   
}
.info{
    background-color: #F1F1F7;
    margin: 50px;
    padding: 50px;
    
}
.title{
    text-align: center;

}
.cities{
 
    padding: 50px;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;
}
.edinburgh{
       background-color: #F1F1F7;
    
}

.glasgow{
       background-color: #F1F1F7;
    
}

.stirling{
       background-color: #F1F1F7;
    
}