body{
    background-color:#FFFFFF;
    font-family: "Inconsolata", monospace;
    margin: 0 auto;
    text-align: center;


}
header{
    background-color: #953ddd
}
.info{
    background-color: #F2F2F8;
}