body{
    background-color:#FFFFFF;
    font-family: "Inconsolata", monospace;
    margin: 0 auto;
    text-align: center;


}
header{
    color: white;
    background-color: #592588
}
main{
    text-align: justify;
}
.info{
    background-color: #F1F1F7;
    margin: 50px
    
}
.title{
    text-align: center;

}
.cities{
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;
}